data_engineering_azure_nanodegree/project_1_bike_share/Azure-Data-Warehouse-Project-main/.idea/
data_engineering_azure_nanodegree/project_1_bike_share/submit/.ipynb_checkpoints/
data_science_nanodegree/exercise_worldbank/.idea/
*.pyc
small_data_for machine_learning_course/.idea/
small_data_for machine_learning_course/.ipynb_checkpoints/
machine_learning_devops_engineer/clean_code_prinicples/customer_churn/.DS_Store
machine_learning_devops_engineer/clean_code_prinicples/customer_churn/.ipynb_checkpoints/
*.DS_Store
machine_learning_devops_engineer/clean_code_prinicples/customer_churn/images/eda/.ipynb_checkpoints/
machine_learning_devops_engineer/clean_code_prinicples/customer_churn/images/results/.ipynb_checkpoints/
